.centered_description {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 100px);;
    text-align: center;
    justify-content: space-evenly;
}

.info {
    color: $whiteText;

    .name {
        font-family: R-semiBold;
        font-size: 42px;
    }

    .title {
        font-family: R-regular;
        font-size: 18px;
        margin: 10px;
    }
}

.bodySection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 100px)
}

.section_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: max-content;
    width: 100%;
}

.section_colomn_center{
    width: $content_width;
    height: max-content;
}

.section_colomn_right, .section_colomn_left{
    flex-grow: 1;
}

@include tiny-screen {
    .title {
        font-size: 20px;
    }
    .name {
       font-size: 44px;
    }
.section_colomn_right, .section_colomn_left{
    display: none;
}
}

@include mobile-screen {
    .title {
        font-size: 22px;
    }
    .name {
       font-size: 46px;
    }
    .section_colomn_right, .section_colomn_left{
        display: none;
    }
  }

@include tablet-screen {
    .title {
        font-size: 24px;
    }
    .name {
        font-size: 48px;
     }
     .section_colomn_right, .section_colomn_left{
         display: none;
     }
  }

@include desktop-screen {
    .title {
        font-size: 28;
    }
    .name {
        font-size: 50px;
     }
    //   .section_colomn_right, .section_colomn_left{
    //       display: none;
    //   }
  }
