.centered_description {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 100px);;
    text-align: center;
    justify-content: space-evenly;
}

.info {
    color: $whiteText;

    .name {
        font-family: R-semiBold;
        font-size: 42px;
    }

    .title {
        font-family: R-regular;
        font-size: 18px;
        margin: 10px;
    }
}

@include tiny-screen {
    .title {
        font-size: 20px;
    }
    .name {
       font-size: 44px;
    }
}

@include mobile-screen {
    .title {
        font-size: 22px;
    }
    .name {
       font-size: 46px;
    }
  }

@include tablet-screen {
    .title {
        font-size: 24px;
    }
    .name {
        font-size: 48px;
     }
  }

@include desktop-screen {
    .title {
        font-size: 28;
    }
    .name {
        font-size: 50px;
     }
  }
