.nav,
.footer{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

.links {
    width: 800px;
}

.left_nav,
.right_nav,
.right_footer,
.left_footer {
    flex-grow: 0.5;
}
