@import '../fonts/fonts.scss';
@import './variables.scss';
@import './mixin.scss';

html,
body,
#root,
.routes {
  min-width: 100%;
  margin: 0;
  padding: 0;
  min-height: max-content;
  background-color: $background;
  font-family: R-regular;
  overflow: hidden;
}

.main_container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  text-align: center;
  justify-content: center;

  .body_container{
    height: max-content;

    @include tiny-screen {
    width: $content_width;
    }

  @include mobile-screen {
  width: $content_width;  
  }

  @include tablet-screen {
  width: $content_width;  
  }

  @include desktop-screen {
  width: $content_width;  
  }

  @include large-desktop-screen {
  width: $content_width;  
  }
  }
}

.info {
    height: max-content;
}
